php:
	date.timezone: Europe/Prague

extensions:
	- GrandMedia\DoctrineLogging\DI\DoctrineLoggingExtension

services:
	- GrandMediaTests\DoctrineLogging\Mocks\EntityManagerMock
	security.userStorage: GrandMediaTests\DoctrineLogging\Mocks\UserStorageMock
	- GrandMediaTests\DoctrineLogging\Mocks\LoggerMock
