php:
	date.timezone: Europe/Prague

extensions:
	- GrandMedia\DoctrineLogging\DI\DoctrineLoggingExtension
	- Kdyby\Annotations\DI\AnnotationsExtension
	- Kdyby\Console\DI\ConsoleExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

services:
	security.userStorage: GrandMediaTests\DoctrineLogging\Mocks\UserStorageMock

doctrine:
	driver: pdo_sqlite
	memory: true
